<h4>카테고리 {{ subTitle }}</h4>
<form (ngSubmit)="submit()" [formGroup]="categoryForm" novalidate>

  <div class="input-group">
    <span class="input-group-addon" id="category-no">번호</span>
    <input type="number" class="form-control" formControlName="no" readonly>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="category-name">카테고리 명</span>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="col-12 text-right">
    <button type="submit" class="btn btn-info btn-sm mr-2" [disabled]="!categoryForm.valid">
      <i class="fa fa-check"></i> 저장
    </button>
    <button type="reset" class="btn btn-info btn-sm mr-2">
      <i class="fa fa-trash"></i> 초기화
    </button>
    <button type="button" class="btn btn-warning btn-sm" (click)="cancel()">
      <i class="fa fa-times"></i> 돌아가기
    </button>
  </div>
</form>